@font-face {
  font-family: 'Exo2.0';
  src: local('Exo2.0 Light'),
    url('../fonts/Exo2.0-Light.woff2') format('woff2'),
    url('../fonts/Exo2.0-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
