.goods {
  padding-bottom: 40px;
  min-height: 100vh;
  color: $text-light;
  background-color: #272727;
  background-image: linear-gradient(to top,
                    rgba(0, 0, 0, 0.5),
                    transparent 50%,
                    rgba(0, 0, 0, 0.5)),
                    url("../img/pattern.jpg");
  background-position: center, center;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__inner {
    margin: 0 auto;
    width: 100%;
    max-width: $max-width;

    @media (min-width: $max-width) {
      padding: 0 80px;
    }
  }

  &__heading {
    margin: 0;
    padding: 0 10px;
    padding-top: 39px;
    font-family: $exo;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
  }

  &__cat-food {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 24px;
    width: 320px;

    @media (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
    }

    @media (min-width: $max-width) {
      justify-content: space-between;
    }
  }
}
